<h2>Log In</h2>
<form id="login" method="post" action="/login">

  <p><label for="email">Email:</label><br>
    <input type="text" name="user[email]">
  </p>

  <p><label for="password">Password:</label><br>
  <input type="password" name="user[password]"></p>

   <input type="submit" value="Login" class="button">
</form>
<p>Not a user? <a href="/users/new">Sign Up</a></p>